# Telegram Bot
pyTelegramBotAPI

# Google Sheets / API
gspread
google-api-python-client
google-auth
google-auth-oauthlib

# Scheduler
APScheduler

# Config / env
python-dotenv

# Timezone support
pytz
